scikit-learn
torch
torchvision
bentoml>=1.0.0
starlette>=0.27.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.3.2 # not directly required, pinned by Snyk to avoid a vulnerability
