# Dev dependencies
-e .[all]
-r tests-requirements.txt
-r docs-requirements.txt
twine
wheel
setuptools-scm
# stubs
pandas-stubs
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
